* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #f2f2f2;
}

header {
    width: 100%;
    min-height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0A81AB;
    color: #fff;
    margin-bottom: 2rem;
}

nav {
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
    font-family: 'Nasalization', sans-serif;
    letter-spacing: 2px;
}

nav #logo {
    margin-right: 1rem;
}

nav h2 {
    font-size: 2rem;
}

.picture-card {
    display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  padding: 2rem 0rem;
  width: 90%;
  margin: auto;
  column-gap: 4rem;
}

.img-sec {
    /* border: 2px solid #000; */
    box-shadow: 0 0 20px 8px #d0d0d0;
    padding: 1.5rem;
    margin-bottom: 4rem ;
    border-radius: 1.5rem;
    overflow: scroll;
    height: 95vh;
}

.img-sec::-webkit-scrollbar {
    display: none;
  }

.img-sec .img-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align:justify;
}

.img-sec .img-info .img-head {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    width: 100%;
    padding: 0 0.5rem;
    font-size: 1rem;
    font-weight: bold;
    color: #2C394B;
}

.img-sec .img-info .img-head .img-date {
    margin-top: 0.2rem;
    font-weight: normal;
}

.img-sec .img-desc {
    font-size: 1rem;
    padding: 0.5rem;
    padding-top: 0;
}

.picture-card img {
    width: 100%;
    height: 50%;
    object-fit:fill;
    border-radius: 1.5rem;
}

.more {
    display: flex;
    height: 15vh;
    justify-content: center;
    align-items: baseline;
}

.more button {
    font-family: 'Nasalization', sans-serif;
    border: 3px solid #0A81AB;
    font-size: 2rem;
    font-weight: bold;
    color: #0A81AB;
    background: #fff;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.more button:hover {
    color: #fff;
    background: #0A81AB;
}

.img-info .img-btns {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.img-info .img-btns a {
    font-size: 1rem;
    text-decoration: none;
    color: #2C394B;
    background: #f2f2f2;
    border: 2px solid #2C394B;
    padding: 0.5rem 0.7rem;
    border-radius: 0.5rem;
    margin-right: 1.5rem;
    transition: all 0.2s ease-in-out;
}

.img-info .img-btns a:hover {
    background: #2C394B;
    color: #fff;
    border: 1px solid #2C394B;

}

.fas {
    margin-left: 6px;
}

.heart {
    width: 100px;
    height: 100px;
    background: url("https://cssanimation.rocks/images/posts/steps/heart.png") no-repeat;
    background-position: 0 0;
    cursor: pointer;
    -webkit-transition: background-position 1s steps(28);
    transition: background-position 1s steps(28);
    -webkit-transition-duration: 0s;
            transition-duration: 0s;
  }
  
  .heart.is-active {
    -webkit-transition-duration: 1s;
            transition-duration: 1s;
    background-position: -2800px 0;
  }