* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: #f2f2f2;
}

header {
  width: 100%;
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0a81ab;
  color: #fff;
  margin-bottom: 2rem;
}

nav {
  width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 0;
  font-family: "Nasalization", sans-serif;
  letter-spacing: 2px;
}

nav #logo {
  margin-right: 1rem;
}

nav h2 {
  font-size: 2rem;
}

.picture-card {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  padding: 2rem 0rem;
  width: 90%;
  margin: auto;
  column-gap: 4rem;
}

.img-sec {
  box-shadow: 0 0 20px 8px #d0d0d0;
  padding: 1.5rem;
  margin-bottom: 4rem;
  border-radius: 1.5rem;
  overflow: scroll;
  height: 95vh;
}

.img-sec::-webkit-scrollbar {
  display: none;
}

.img-sec .img-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: justify;
}

.img-sec .img-info .img-head {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  width: 100%;
  padding: 0 0.5rem;
  font-size: 1rem;
  font-weight: bold;
  color: #2c394b;
}

.img-sec .img-info .img-head .img-date {
  margin-top: 0.2rem;
  font-weight: normal;
}

.img-sec .img-desc {
  font-size: 1rem;
  padding: 0.5rem;
  padding-top: 0;
}

.picture-card img {
  width: 100%;
  height: 50%;
  object-fit: fill;
  border-radius: 1.5rem;
}

.more {
  display: flex;
  height: 15vh;
  justify-content: center;
  align-items: baseline;
}

.more button {
  font-family: "Nasalization", sans-serif;
  border: 3px solid #0a81ab;
  font-size: 2rem;
  font-weight: bold;
  color: #0a81ab;
  background: #fff;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.more button:hover {
  color: #fff;
  background: #0a81ab;
}

.img-info .img-btns {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin: 1.5rem 0;
  padding: 0 1rem;
}

.fa-heart {
  font-size: 1.5rem;
  color: #f2f2f2;
  cursor: pointer;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #fe4164;
  transition: all 0.2s ease-in-out;
}

.fa-heart:hover  {
  transform: scale(1.2);
  color: #fe4164;
}

.heart-over {
    font-size: 1.5rem;
    cursor: pointer;
  color: #fe4164;
}

.img-info .img-btns a {
  font-size: 1rem;
  text-decoration: none;
  color: #2c394b;
  background: #f2f2f2;
  border: 2px solid #2c394b;
  padding: 0.5rem 0.7rem;
  border-radius: 0.5rem;
  /* margin-right: 1.5rem; */
  transition: all 0.2s ease-in-out;
}

.img-info .img-btns a:hover {
  background: #2c394b;
  color: #fff;
  border: 1px solid #2c394b;
}

.fa-location-arrow {
  margin-left: 6px;
}
